<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <!-- Permet la mise en page de la tete et du pied -->
        <link rel="stylesheet" href="/public/css/generale.css" />
        <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon" />
        <title>PépitoCoin - <%= titre %></title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand text-black ms-2" href="#">PépitoCoin</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-black ms-3">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-black ms-3">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-black ms-3">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>
