<%- include('./parties/tete.ejs') %>
<link rel="stylesheet" href="/public/css/formProduit.css">
<h1 class="text-center">Bienvenue sur la page de gestion</h1>
<div id="divResultat" class="mt-3">
    <div id="divLiens" class="mx-auto">
        <a id="produitsBouton" class="bouton me-2">Gestion Produits</a>
        <a id="comptesBouton" class="bouton">Gestion Comptes</a>
    </div>
</div>
<%- include('./parties/pied.ejs') %>