form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
}

label {
    display: inline-block;
    width: 110px;
    text-align: right;
    margin: 10px;
}

input {
    height: 22px;
    text-align: left;
    padding: 1px;
}
#divErreur > #pseudoUtiliser {
    color: rgb(112, 186, 0);
    text-align: center;
}
.divForm {
    position: relative; /* Crée un contexte de positionnement pour les enfants positionnés absolument */
    display: flex; /* Utilise un layout en flexbox pour aligner les enfants horizontalement */
    align-items: center; /* Centre verticalement les enfants par rapport à la ligne principale */
}

#voirMdp {
    position: absolute; /* Positionne l'image par rapport à son premier ancêtre positionné */
    right: 5px; /* Ajuste la position de l'image à droite de .divForm */
    top: 50%; /* Place l'image à mi-chemin verticalement dans .divForm */
    transform: translateY(-50%); /* Centre l'image verticalement par rapport à .divForm */
    cursor: pointer; /* Change le curseur au survol de l'image */
}
